<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.ome.lt/Z54Xfir_5uc05qxdDGTJu8W7PJY=/987x0/smart/uploads/conteudo/fotos/cor_pL4BYNU.jpg"
      cardTitle="Coringa foi campeão de reclamações no Reino Unido, revela associação"
      cardDescription="Filme lançado com classificação indicativa para 15 anos chocou público por conta das cenas violentas"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Pacificador | Bat-Mirim não estará na segunda temporada, segundo Gunn"
      photoCover="https://cdn.ome.lt/gEgVob-bxP-pAq_o2lUhkr2qass=/987x0/smart/uploads/conteudo/fotos/poster_de_pacificador.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Matthew Vaughn sugere Taron Egerton como Lex Luthor em Superman: Legacy"
      photoCover="https://cdn.ome.lt/iHccErwjC1N5lIumY474MjhBUKA=/987x0/smart/uploads/conteudo/fotos/Design_sem_nome_6_XfSimQQ.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Warner rejeitou animação crossover entre Mortal Kombat e DC"
      photoCover="https://cdn.ome.lt/h50gzxQIHxtO194AQfzHEmgdYLo=/987x0/smart/uploads/conteudo/fotos/Mortal_Kombat_vs_DC_Universe.jpg"
    >
    </app-small-card>
  </div>
</div>
